/* Global styles (no media query) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(#324960 0.3438rem, transparent 0.3438rem),
    radial-gradient(#324960 0.3438rem, transparent 0.3438rem);
  background-size: 1.1875rem 1.1875rem;
  background-position: 0 0, 0.5938rem 0.5938rem;
  background-color: #364051;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

header h1 {
  color: #ffffff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
header .icon {
  width: 5rem;
  height: 2.5rem;
  color: #4fc3a1;
}
form.create-field {
  position: relative;
  width: 30rem;
  margin: 1.875rem auto 1.25rem auto;
  background: #fff;
  padding: 0.9375rem;
  border-radius: 0.4375rem;
  display: flex;
  flex-direction: column;
}

form.create-field div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}

form.create-field input {
  width: calc(33.33% - 0.625rem);
  min-height: 2.5rem;
  padding: 0.3125rem;
  border: 0.0625rem solid #364051;
  border-radius: 0.3125rem;
  outline: none;
  font-family: "McLaren", cursive;
}

form.create-field span {
  position: absolute;
  right: 0.625rem;
  bottom: -3rem;
  background: #fff;
  color: #5e5b5b;
  border-radius: 50%;
  border: none;
  width: 6.25rem;
  height: 6.25rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.add {
  cursor: pointer;
  color: #ccc;
}

.add:hover {
  color: #364051;
  transition: all ease-in 0.3s;
}
.download-pdf-btn {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #4fc3a1;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "McLaren", cursive;
  color: #fff;
  background: #4fc3a1;
}

button.table-result-btn {
  margin-left: 25%;
  width: 45%;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #4fc3a1;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "McLaren", cursive;
  color: #fff;
  background: #4fc3a1;
}
.table-wrapper {
  margin: 1.25rem 4.375rem 4.375rem;
  box-shadow: 0rem 2.1875rem 3.125rem rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  font-weight: normal;
  font-family: "McLaren", cursive;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 0.5rem;
}

.fl-table td {
  border-right: 0.0625rem solid #f8f8f8;
  font-size: 0.75rem;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive styles */
@media (max-width: 47.9375rem) {
  .table-wrapper:before {
    content: "";
    display: block;
    text-align: right;
    font-size: 0.6875rem;
    color: white;
    padding: 0 0 0.625rem;
    font-family: "McLaren", cursive;
  }
  
  .fl-table thead th {
    text-align: center;
    border-bottom: 0.0625rem solid #f7f7f9;
    display: table-cell;
    height: 2.5rem;
  } 
  
  .fl-table tbody td {
    width: auto;
    text-align: center;
    height: 2.75rem;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
    border-bottom: 0.0625rem solid #e6e4e4;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 0.0625rem solid #e6e4e4;
    border-bottom: 0.0625rem solid #e6e4e4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 0.0625rem solid #e6e4e4;
    border-bottom: 0.0625rem solid #e6e4e4;
  }
} 


/* Media queries for responsiveness */
/* Small screens (e.g., smartphones) */
@media screen and (max-width: 36rem) {
  form.create-field {
    width: 100%;
    padding: 0.625rem;
  }
  form.create-field div {
    flex-direction: row;
    align-items: center;
  }
  form.create-field input {
    width: calc(33.33% - 0.625rem);
    margin-bottom: 0.3125rem;
  }
  form.create-field span {
    right: 0;
    bottom: -2.375rem;
  }
  button.table-result-btn {
    margin-left: 0;
    width: 45%;
    text-align: center;
  }
  .add {
    margin-bottom: 0.625rem;
  }
  
}
@media screen and  (max-width: 20rem) {
  header .icon {
    position: absolute;
    right: 2rem;
    top: 4rem;
  }
}
@media screen and (min-width: 23.4375rem) {
  header .icon {
    position: absolute;
    right: .1rem;
    top: 1.2rem;
  }
}

/* Medium screens (e.g., tablets) */
@media screen and (min-width: 36.0625rem) and (max-width: 62rem) {
  /* Adjust styles for medium screens here */
}

/* Large screens (e.g., desktops) */
@media screen and (min-width: 62.0625rem) {
  /* Adjust styles for large screens here */
}
